In [ ]:
# PART 1

In [1]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib as plt

In [27]:
# set theurl and endpoint we want to hit
url = 'https://api.yelp.com/v3/businesses/search'
url2 = 'https://api.yelp.com/v3/businesses/{id}/reviews'

In [28]:
client_id = "2TNko8fRlzRwhqkvrJTE1A"
api_key= "WRaElnmVvKVyeugVhRae2QOHQWJFhUyoKuqpXHbE5uZDHKgA32CaYDcjqHwVOifJr57QPLjqIkT8fY2M9K6H2yEzUFJS7nClpT2tlSukjYTGzA5_-SeJVPlnk3PzX3Yx"

In [29]:
# from  keys  import  client_id, api_key

In [30]:
print(api_key)

WRaElnmVvKVyeugVhRae2QOHQWJFhUyoKuqpXHbE5uZDHKgA32CaYDcjqHwVOifJr57QPLjqIkT8fY2M9K6H2yEzUFJS7nClpT2tlSukjYTGzA5_-SeJVPlnk3PzX3Yx

In [31]:
headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

In [32]:
term = 'restaurant'
location = 'Los Angeles'
categories = 'cafe'
radius = 3500

In [33]:
url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "categories" : categories,
                "radius": radius,
                "limit": 50,
#                 "offset":offset
            }

In [34]:
url_params

{'term': 'restaurant',
 'location': 'Los+Angeles',
 'categories': 'cafe',
 'radius': 3500,
 'limit': 50}

In [35]:
response = requests.get(url, headers=headers, params=url_params)

In [36]:
response.status_code

200

In [37]:
data = response.json()
data['total']

1400

In [38]:
# PART 2

In [39]:
import sqlite3
import pandas as pd

In [40]:
conn = sqlite3.connect('yelp.db')
cursor = conn.cursor()

In [41]:
cursor.execute("""Create TABLE businesses(
                                businessid TEXT,
                                rating NUMERIC,
                                price TEXT,
                                name TEXT,
                                review_count INTEGER,
                                address TEXT,
                                is_closed TEXT
                                )
                """)
conn.commit()

OperationalError: table businesses already exists

In [ ]:
cursor.execute("""Create TABLE reviews(
                                businessid TEXT,
                                reviewID INTEGER,
                                rating NUMERIC,
                                time_created TEXT,
                                text TEXT
                                )
                """)
conn.commit()

In [ ]:
def yelp_call(url, url_params, api_key):
    response = requests.get(url, headers=headers, params=url_params)
    data = response.json()
    return data

In [42]:
results = yelp_call(url, url_params, api_key)

In [43]:
def parse_results(results):
    
    parsed_results = []
    count = 0
    
    for business in results['businesses']:
        for item in ['businessid', 'rating', 'price', 'name', 'review_count', 'address', 'is_closed']:
            if item not in business:
                business[item] = np.nan
            else:
                business[item]
    
        biz_tuple = (business['id'],
                business['rating'],
                business['price'],
                business['name'],
                business['review_count'],
                business['location']['display_address'][0],
                business['is_closed'])
        count += 1
        parsed_results.append(biz_tuple)
    
    return parsed_results

In [44]:
def db_insert(conn, cursor, parse_results):
    for business in parse_results:
        add_business = ("""
        INSERT INTO businesses (businessid, rating, price, name, review_count, address, is_closed) 
        VALUES(?, ?, ?, ?, ?, ?, ?)
        """)
    cursor.executemany(add_business, parse_results)
    conn.commit()

In [45]:
# create a variable  to keep track of which result you are in. 
cur = 0

#set up a while loop to go through and grab the result 
while cur < 1000:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    results = yelp_call(url, url_params, api_key)
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_results(results)
    
    # use your function to insert your parsed results into the db
    db_insert(conn, cursor, parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 50
    
print(cur)

1000

In [ ]:
business_id_list = []
for business in

In [ ]:
def yelp_call_reviews(url, api_keyquery):
    for ID in lists:
        url = 'https://api.yelp.com/v3/businesses/{id}/reviews'.format(ID)
    response = requests.get(url, headers=headers)
    data = response.json()
    return data

In [ ]:
def parse_results(results):
    
    parsed_results = []
    count = 0
    
    for business in results['businesses']:
        for item in ['businessid', 'reviewID', 'rating', 'time', 'address', 'is_closed']:
            if item not in business:
                business[item] = np.nan
            else:
                business[item]
    
        biz_tuple = (business['id'],
                business['rating'],
                business['price'],
                business['name'],
                business['review_count'],
                business['location']['display_address'][0],
                business['is_closed'])
        count += 1
        parsed_results.append(biz_tuple)
    
    return parsed_results

In [ ]:
def db_insert(conn, cursor, parse_results):
    for business in parse_results:
        add_business = ("""
        INSERT INTO reviews (businessid, rating, price, name, review_count, address, is_closed) 
        VALUES(?, ?, ?, ?, ?, ?, ?)
        """)
    cursor.executemany(add_business, parse_results)
    conn.commit()

In [ ]:
# create a variable  to keep track of which result you are in. 
cur = 0

#set up a while loop to go through and grab the result 
while cur < 1000:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    results = yelp_call(url, url_params, api_key)
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_results(results)
    
    # use your function to insert your parsed results into the db
    db_insert(conn, cursor, parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 50
    
print(cur)

review_results['error']['code